body {
    /*background-color: #eee;*/
    padding-top: 50px;
    padding-bottom: 20px;
}

.top-buffer {
    margin-top: 20px;
}

footer {
    display: inline-block;
    clear: both;
    width: 75%;
    position: absolute;
    margin-top: -3em;
    bottom: 1px;
}