@model SimpleBookStore.Web.Mvc.ViewModels.Books.BookTypeViewModel

<li class="list-group-item @(Model.IsSelected ? "list-group-item-success" : "")">@Html.ActionLink(Model.Name, "Index", "Books", new { id = Model.Id }, null)</li>