@model SimpleBookStore.Web.Mvc.Providers.Models.News


<tr>
    <td><a class="btn btn-success" href="@Model.Source">Прочети в сайта</a></td>
    <td>@Model.Title</td>
    <td>@Model.Source</td>
</tr>

